<html>
	<head>
		<title>Suzanne's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Supermega Blog Django Unchained</a></h1>
		</div>


		<div>
			<p>pubblicato: 02.07.2016, 15.50</p>
			<h2><a href="">Primo gaudioso post in latino</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
		</div>

		<div>
			<p>pubblicato 02.07.2016, appena dopo.</p>
			<h2><a href="">Secondo ancor più glorioso post</a></h2>
			<p>òjsaidjdijaòkjfòkiajàaifnkjdnfòkajfnjdn</p>
		</div>
	</body>
</html>
		<p>Hi there!</p>
		<p>It works!...kind of :)</p>
	</body>
</html>